<!-- <app-header title="Lista de Usuarios"></app-header> -->
<ion-header [translucent]="true">
    <ion-toolbar color="micolor">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" text=""></ion-back-button>
        </ion-buttons>
        <ion-title>Lista de Usuarios</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngFor="let user of users">
        <ion-list-header>{{user.user}}</ion-list-header>
        <ion-item>
            <ion-label>
                <h2>{{user.name}} {{user.last_name}}</h2>
                <p>{{user.email}}</p>
            </ion-label>
        </ion-item>
        <!-- photo -->
    </ion-list>

    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <!-- *ngIf="user.isAdmin == false" -->
        <ion-fab-button color="primary" (click)="openModal()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>