<!-- <app-header title="Lista de Productos" backLink="/inventario"></app-header> -->
<ion-header [translucent]="true">
    <ion-toolbar color="micolor">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/inventario" text=""></ion-back-button>
        </ion-buttons>
        <ion-title>Lista de Productos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-list *ngFor="let producto of productos">
        <ion-list-header> {{producto.name}} </ion-list-header>

        <ion-item-sliding>
            <ion-item-options side="start">
                <ion-item-option color="success" (click)="alertShopping(producto)">
                    <ion-icon name="clipboard-outline" slot="icon-only"></ion-icon>
                </ion-item-option>

                <ion-item-option color="warning" [routerLink]="producto.id+'/editar'">
                    <!-- <ion-item-option (click)="editarProducto(producto.id)"> -->
                    <ion-icon name="create-outline" slot="icon-only" style="color: white;"></ion-icon>
                </ion-item-option>
            </ion-item-options>

            <ion-item>
                <ion-avatar slot="start">
                    <img [src]="'data:image/jpg;base64,'+producto.photo" alt="{{producto.name}}" />
                </ion-avatar>
                <ion-label>
                    <h2>{{producto.description}}</h2>
                    <p>{{producto.category.name}}</p>
                </ion-label>

                <ion-badge slot="end" color="light">{{producto.amount}}</ion-badge>
            </ion-item>

            <ion-item-options side="end">
                <ion-item-option color="danger" (click)="borrarConfirm(producto.id)">
                    <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <!-- <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="primary" routerLink="nuevo">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab> -->

    <ion-fab fullscreen horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="micolor">
            <ion-icon name="caret-up-circle-outline"></ion-icon>
        </ion-fab-button>

        <ion-fab-list side="top">
            <ion-fab-button color="success" routerLink="nuevo">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>

        <ion-fab-list side="start" *ngIf="isAdmin">
            <!-- <div class="ion-page"> -->
            <ion-fab-button color="secondary" routerLink="../usuarios">
                <ion-icon name="people-outline"></ion-icon>
            </ion-fab-button>
            <!-- </div> -->
        </ion-fab-list>
    </ion-fab>

    <ion-content *ngIf="productos.length == 0">
        <ion-card>
            <ion-card-header>
                <ion-card-title>Este Inventario aun está vacío
                    <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                </ion-card-title>
                <ion-card-subtitle>
                    <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                </ion-card-subtitle>
            </ion-card-header>

            <ion-card-content class="ion-text-justify">
                <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </ion-card-content>
        </ion-card>
    </ion-content>

</ion-content>