<!-- <app-header backLink="/inventario" title="Lista de Inventarios"></app-header> -->
<ion-header [translucent]="true">
    <ion-toolbar color="micolor">
        <ion-buttons slot="end" (click)="logOut()">
            <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
        </ion-buttons>
        <ion-title>Lista de Inventarios</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item-group>
        <ion-item-divider class="divider">
            <ion-label>Tus Inventarios</ion-label>
        </ion-item-divider>


        <ion-card *ngFor="let inventory of inventories">
            <ion-item *ngIf="inventory.accepted" class="ion-text-center" color="light" [routerLink]="[inventory.inventory.id, 'lista-producto' ]">
                <ion-label>{{inventory.inventory.name}}</ion-label>
            </ion-item>
        </ion-card>
    </ion-item-group>
    <ion-item-group *ngIf="hasInvitations">
        <ion-item-divider class="divider">
            <ion-label>
                Inventarios Pendientes
            </ion-label>
        </ion-item-divider>
        <ng-container *ngFor="let inventory of inventories">
            <ion-card *ngIf="!inventory.accepted">
                <ion-item-sliding>
                    <ion-item-options side="start">
                        <ion-item-option color="success" (click)="updateInvitation(inventory.id, true)">
                            <ion-icon name="checkmark-outline" slot="icon-only"></ion-icon>
                        </ion-item-option>
                    </ion-item-options>

                    <ion-item class="ion-text-center" color="pendiente">
                        <ion-label>{{inventory.inventory.name}}</ion-label>
                    </ion-item>

                    <ion-item-options side="end">
                        <ion-item-option color="danger" (click)="updateInvitation(inventory.id, false)">
                            <ion-icon name="close-outline" slot="icon-only"></ion-icon>
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-card>
        </ng-container>
    </ion-item-group>

    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="micolor" routerLink="nuevo">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>