<app-header title="Lista de Inventarios"></app-header>

<ion-content>
    <!-- <ion-list *ngFor="let inventory of inventories">
        <ion-item>
            <ion-label>{{inventory.name}}</ion-label>
        </ion-item>
    </ion-list> -->
    <ion-card *ngFor="let inventory of inventories">
        <ion-item class="ion-text-center" color="light" [routerLink]="[inventory.id, 'lista-producto' ]">
            <!-- ?idInventory=" {{inventory.id}} -->
            <ion-label>{{inventory.name}}</ion-label>
        </ion-item>
    </ion-card>

    <!-- <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="primary" routerLink="nuevo">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab> -->

    <ion-fab fullscreen horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="primary">
            <ion-icon name="caret-up-circle-outline"></ion-icon>
        </ion-fab-button>

        <ion-fab-list side="top">
            <ion-fab-button color="primary" routerLink="nuevo">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>

        <ion-fab-list side="start">
            <div class="ion-page">
                <ion-fab-button color="secondary" (click)="openModal()">
                    <ion-icon name="person-add-sharp"></ion-icon>
                </ion-fab-button>
            </div>
        </ion-fab-list>
    </ion-fab>
</ion-content>