<!-- <app-header title="Lista de la compra"></app-header> -->
<ion-header [translucent]="true">
    <ion-toolbar color="micolor">
        <ion-buttons slot="start">
            <!-- <ion-back-button defaultHref="/" text=""></ion-back-button> -->
        </ion-buttons>
        <ion-title>Lista de la Compra</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="ion-padding" *ngFor="let shopping of shoppingInventories">
        <ion-card-title> {{shopping.name}} </ion-card-title>

        <ion-list *ngFor="let product of shopping.products">
            <ion-item-sliding>
                <ion-item-options side="start" (click)="buyShoppingProduct(product)">
                    <ion-item-option color="success">
                        <ion-icon name="add-outline"></ion-icon>
                    </ion-item-option>
                </ion-item-options>

                <ion-item>
                    <ion-avatar slot="start">
                        <img src="{{product.product.photo}}" alt="{{product.product.name}}" />
                    </ion-avatar>

                    <ion-label>
                        <h2>{{product.product.name}}</h2>
                    </ion-label>

                    <ion-chip slot="end">
                        <ion-icon name="remove" (click)="modifyAmount(product, -1)"></ion-icon>
                        <ion-input type="number" (change)="updateAmount(product)" [(ngModel)]="product.amount" value="{{product.amount}}"></ion-input>
                        <ion-icon name="add" (click)="modifyAmount(product, 1)"></ion-icon>
                    </ion-chip>

                </ion-item>

                <ion-item-options side="end">
                    <ion-item-option color="danger" (click)="borrarConfirm(product)">
                        <ion-icon name="remove-outline"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </ion-card>
</ion-content>