<ion-header [translucent]="true">
    <ion-toolbar color="micolor">
        <ion-title>DespensApp</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-no-margin">

    <div class="signcard">

        <ion-segment [(ngModel)]="signform" ion-padding>
            <ion-segment-button value="login" class="segbtn1">
                <ion-label>Login</ion-label>
            </ion-segment-button>

            <ion-icon class="img" name="person-circle-outline"></ion-icon>

            <ion-segment-button value="registro" class="segbtn2">
                <ion-label>Registro</ion-label>
            </ion-segment-button>
        </ion-segment>

        <div class="loginform" [ngSwitch]="signform">

            <div padding *ngSwitchCase="'login'">
                <form (ngSubmit)="onSubmit()" #form="ngForm">
                    <ion-item>
                        <ion-label position="floating">Usuario</ion-label>
                        <ion-input name="username" [(ngModel)]="username" type="text" required></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Contraseña</ion-label>
                        <ion-input name="password" [(ngModel)]="password" type="password" required></ion-input>
                    </ion-item>

                    <ion-button class="ion-margin-top boton" type="submit" expand="block" color="boton">
                        Entrar
                    </ion-button>
                </form>
            </div>

            <div padding *ngSwitchCase="'registro'">
                <form [formGroup]="registerForm" (ngSubmit)="createAccount()">

                    <ion-item>
                        <ion-label position="floating">Usuario</ion-label>
                        <ion-input formControlName="username" type="text" name="username" class="form-control" required [ngClass]="{ 'is-invalid': submitted &&  f.username.errors }"></ion-input>
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Nombre de usuario es obligatorio</div>
                        </div>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Contraseña</ion-label>
                        <ion-input formControlName="password" type="password" required [ngClass]="{ 'is-invalid': submitted && f.password.errors }"></ion-input>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">La contraseña es obligatoria</div>
                            <div *ngIf="f.password.errors.minlength">La contraseña debe tener 6 caractéres.</div>
                        </div>

                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Nombre</ion-label>
                        <ion-input formControlName="name" type="text" required [ngClass]="{ 'is-invalid': submitted &&  f.name.errors }"></ion-input>
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">Nombre es obligatorio</div>
                        </div>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Apellidos</ion-label>
                        <ion-input formControlName="lastname" type="text" required [ngClass]="{ 'is-invalid': submitted &&  f.lastname.errors }"></ion-input>
                        <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                            <div *ngIf="f.lastname.errors.required">Apellido es obligatorio</div>
                        </div>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Email</ion-label>
                        <ion-input formControlName="email" type="email" required [ngClass]="{ 'is-invalid': submitted && f.email.errors }"></ion-input>
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Correo electrónico es obligatorio.</div>
                            <div *ngIf="f.email.errors.email">Correo electrónico NO es valido.</div>
                        </div>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Teléfono</ion-label>
                        <ion-input formControlName="telephone" type="text" required [ngClass]="{ 'is-invalid': submitted && f.telephone.errors }"></ion-input>
                        <div *ngIf="submitted && f.telephone.errors" class="invalid-feedback">
                            <div *ngIf="f.telephone.errors.required">Teléfono es obligatorio</div>
                            <div *ngIf="f.telephone.errors.minlength">Teléfono debe tener 9 dígitos.</div>
                        </div>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Foto</ion-label>
                        <!-- <ion-input formControlName="photo" type="text" required [ngClass]="{ 'is-invalid': submitted && f.photo.errors }"></ion-input> -->
                        <img class="user-profile-img" src="{{userImg}}" alt="" (click)="getPicture()">
                      </ion-item>

                    <ion-button class="ion-margin-top boton" type="submit" expand="block" color="boton">
                        Registrarse
                    </ion-button>
                </form>
            </div>
        </div>
    </div>
</ion-content>
