<!-- <app-header title="Nuevo Inventario"></app-header> -->
<ion-header [translucent]="true">
    <ion-toolbar color="micolor">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" text=""></ion-back-button>
        </ion-buttons>
        <ion-title>Nuevo Inventario</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form #form="ngForm" (ngSubmit)="createInventory()" novalidate>
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
            <ion-item>
                <ion-label position="floating">Nombre del Inventario:
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required type="text" name="name" [(ngModel)]="name"></ion-input>
            </ion-item>

            <div class="ion-padding">
                <ion-button color="micolor" expand="block" type="submit" class="ion-no-margin boton" [disabled]="!form.valid">
                    Crear
                </ion-button>
            </div>
        </ion-list>
    </form>
</ion-content>